body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  margin: 1em;
  min-height: 5em;
}
label {
  display: block;
}


svg {
  background: #eee;
  max-width: 80vmin;
  max-height: 80vmin;
  margin: 10vmin
}

rect {
  stroke: #000;
  fill: #fff;
}
.status_0 {
  fill: #eee
}
.status_200 {
  fill: #0c0
}